@import url(https://fonts.googleapis.com/css?family=Catamaran:100,400,700,800);

body { font: 14px 'Catamaran', Arial, sans-serif; }
a { color: #33A1FF; text-decoration: none; }
a:hover { color: #1782E0; }
ul, form, p { margin: 0; padding: 0; }
li { list-style: none; }
input { border: 1px solid #d8d8d8; padding: 0 8px; border-radius: 2px; box-shadow: #f4f4f4 0 0 0 4px; }
header:after, .footer-grid:after {
    content: '';
    position: absolute;
    width: 100%; height: 5px;
    background: url(images/perforated-bottom@2x.png) repeat-x;
    background-size: auto 5px;
}
footer { padding-top: 50px; background: url(images/hatch-light@2x.png) repeat-x; background-size: auto 7px; }

.button {
    background: #33a1ff;
    border: 1px solid #2B89D9; border-radius: 3px;
    color: #fff;
    font-size: 18px; font-weight: 100;
    padding: 8px 12px;
    line-height: 20px; transition: all 0.2s ease;
}
.button.small { border: 0; padding: 3px 10px; font-size: 12px; }
.button:hover { color: #fff; background: #1782E0; }
.button:not(.small):hover { border-color: #146FBF; }

.content { position: relative; width: 1120px; margin: auto; overflow: auto; }

.promotions { color: white;background: #fa6938; padding: 7px 0 7px 30px; }
.promotions span { font-size: 15px; margin-left: 20px; text-shadow: 0 1px 0 rgba(0, 0, 0, .5); }
.promotions span:first-child { font-size: 13px; background: rgba(0, 0, 0, .2); padding: 3px 8px 0; border-radius: 4px; }

.logo {
    float: left; display: block;
    width: 128px; height: 117px;
    margin-left: 30px;
    background: url(images/logo-stack@2x.png) no-repeat;
    background-size: 100%;
}

.nav-links { float: left; position: relative; top: 20px; margin: 20px 0 0 60px; }
.nav-links li { display: inline; }
.nav-links li a { position: relative; color: black; font-size: 25px; font-weight: 100; padding: 0 12px; }
.nav-links li a:after {
    content: '';
    position: absolute;
    left: 50%; margin-left: -3px; bottom: 3px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 3px 3px 0 3px;
    border-color: #e0e0e0 transparent transparent transparent;
}

.account-links { position: absolute; top: 15px; right: 25px; }
.account-links a { font-size: 11px; color: #909090; margin-left: 8px; letter-spacing: 1px; }

.cart {
    position: absolute; display: block;
    top: 40px; right: 190px;
    color: #606060;
    height: 34px; line-height: 38px;
    padding: 0 36px 0 32px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.cart:before {
    content: '';
    width: 14px; height: 14px;
    position: absolute;
    left: 10px; top: 50%; margin-top: -7px;
    background: url(images/sprite@2x.png) -45px -16px no-repeat;
    background-size: 400px;
}
.cart span span {
    position: absolute; display: block;
    background: #c8c8c8;
    width: 20px; height: 20px;
    right: 8px; top: 50%; margin-top: -10px;
    color: white;
    line-height: 22px;
    text-align: center;
    border-radius: 3px;
}
.cart span span:before {
    content: '';
    position: absolute;
    left: -4px; top: 50%; margin-top: -5px;
    width: 0; height: 0;
    border-style: solid;
    border-width: 5px 5px 5px 0;
    border-color: transparent #c8c8c8 transparent transparent;
}

.search { position: absolute; top: 44px; right: 30px; }
.search input { width: 145px; height: 28px; padding: 2px 0 0 30px; }
.search span {
    position: absolute; display: block;
    left: 10px; top: 50%; margin-top: -7px;
    width: 14px; height: 0; padding-top: 14px;
    background: url(images/sprite@2x.png) -15px -15px no-repeat;
    background-size: 400px;
}

.the-ties { margin-bottom: 50px; border-bottom: 1px solid rgba(0,0,0,0.04); background: #f4f4f4; text-align: center; }
.the-ties h2 { margin: 0 0 65px; font-size: 60px; font-weight: normal; line-height: 66px; }
.the-ties ul { width: 945px; margin: 0 auto 45px; overflow: auto; }
.the-ties li {
    float: left;
    width: 75px; padding-top: 165px;
    margin: 0 15px 15px;
    background-size: 100% auto !important;
    font-size: 16px;
}
.the-ties .black { background: url(images/black@1.5x.jpg) no-repeat; }
.the-ties .blue { background: url(images/blue@1.5x.jpg) no-repeat; }
.the-ties .collegiate { background: url(images/collegiate@1.5x.jpg) no-repeat; }
.the-ties .cotton { background: url(images/cotton@1.5x.jpg) no-repeat; }
.the-ties .favorites { background: url(images/favorites@1.5x.jpg) no-repeat; }
.the-ties .graphic { background: url(images/graphic@1.5x.jpg) no-repeat; }
.the-ties .plaid { background: url(images/plaid@1.5x.jpg) no-repeat; }
.the-ties .silk { background: url(images/silk@1.5x.jpg) no-repeat; }
.the-ties .striped { background: url(images/striped@1.5x.jpg) no-repeat; }
.the-ties + ul { padding-left: 60px; margin-bottom: 75px; }
.the-ties + ul li {
    float: left; position: relative;
    width: 338px; height: 198px;
    margin-right: 20px;
    border: 1px solid #dcdcdc;
    background-size: 100%;
}
.the-ties + ul li span { position: absolute; right: 20px; top: 15px; font-size: 24px; font-weight: bold; text-align: right; }

.bow-ties { background: url(images/bow-ties@1.5x.jpg) no-repeat; }
.pocket-squares { background: url(images/pocket-squares@1.5x.jpg) no-repeat; }
.pocket-squares span { width: 100px; }
.tie-bars { background: url(images/tie-bars@1.5x.jpg) no-repeat; }

.the-story { font-size: 36px; font-weight: 100; font-style: italic; text-align: center; margin-bottom: 75px; }
.the-story a { display: block; font-size: 16px; font-weight: normal; font-style: normal; letter-spacing: 3px; margin-top: 15px; }

.footer-grid > ul { padding-left: 60px; margin-bottom: 40px; }
.footer-grid > ul > li { float: left; width: 233px; margin-right: 42px; }
.footer-grid > ul > li:first-child span,
.footer-grid > ul > li:last-child span {
    display: block;
    height: 135px;
    background: url(images/new.jpg) 0/100% no-repeat;
    border: 1px solid #dcdcdc;
    margin-bottom: 7px;
}
.footer-grid > ul > li:last-child span { background: url(images/style-guide@1.5x.jpg) 0/100% no-repeat; }
.footer-grid a, .footer-grid p { line-height: 1.4; margin-bottom: 15px; }
.footer-grid h4 { font-size: 18px; font-weight: 800; margin: 0 0 10px; line-height: 1; }
.footer-grid input { width: 200px; height: 34px; padding: 0 8px; margin: 4px 4px 20px; }
.footer-grid ul ul li { float: left; }
.footer-grid ul ul a {
    display: block;
    width: 35px; height: 0; padding-top: 35px;
    background: url(images/sprite@2x.png) 0/400px no-repeat;
    margin-right: 10px;
    overflow: hidden;
}
.footer-grid .facebook { background-position: -270 0; }
.footer-grid .pinterest { background-position: -270 -40px; }
.footer-grid .twitter { background-position: -270 -80px; }

.footer-nav { background: #f4f4f4; padding: 30px 0; }
.footer-nav h4 { margin: 0 0 5px; font-weight: 800; }
.footer-nav nav { width: 1060px; }
.footer-nav nav > ul { float: left; width: 444px; }
.footer-nav nav > ul > li { float: left; margin-right: 50px; }
.footer-nav nav > ul > li:last-child { margin: 0; }
.footer-nav ul ul { color: #909090; line-height: 18px; }
.footer-nav .contact-box {
    float: right;
    width: 300px;
    margin:  5px 0 30px;
    padding: 15px;
    border: 1px solid #929EAD;
    background: #a2afc0;
    color: #FFF; text-shadow: rgba(0 ,0 ,0 , .3) 0 1px 1px;
    border-radius: 3px;
}
.footer-nav .contact-box h3 { font-size: 26px; font-weight: 100; font-style: italic; margin: 0 0 15px; line-height: 28px; }
.footer-nav .contact-box span { font-size: 19px; font-weight: 100; line-height: 22px; }
.footer-nav .contact-box .button { float: right; margin-top: 10px; }
.footer-nav .copyright { padding-left: 60px; color: #909090; font-size: 11px; overflow: visible; }
.footer-nav .copyright span { margin-right: 15px; }
.footer-nav .copyright span span { padding-bottom: 1px; border-bottom: 1px dotted #CCC; }
